[run]
omit =
    */migrations/*
    */tests/*
    */__init__.py
    manage.py
    config/wsgi.py
    config/asgi.py
    */venv/*
    */.venv/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
