[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dj-database-url = "*"
psycopg = {extras = ["binary"], version = "*"}
django-fsm = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.6"
